html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}audio,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}img{border:0}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=submit]{-webkit-appearance:button;cursor:pointer;box-sizing:border-box}input[type=text]{-webkit-appearance:none;appearance: none;box-sizing:border-box}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;box-sizing:border-box;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

body,div{font-size:0;}
p,h1,h2,h3,h4,h5,h6{margin:0;word-spacing:normal;word-wrap:break-word;pointer-events:auto;}
ul{list-style-type:none;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
li p{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select::none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
form{display:inline-block;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.whitespacefix{word-spacing:-1px;}
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -ms-touch-action: none; -webkit-tap-highlight-color: transparent; }
.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white url("ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }
.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate(0, 0); -moz-transform: translate(0, 0); -ms-transform: translate(0, 0); -o-transform: translate(0, 0); transform: translate(0, 0); }
.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }
.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }
@font-face { font-family: "slick"; src: url("slick.eot"); src: url("slick.eot?#iefix") format("embedded-opentype"), url("slick.woff") format("woff"), url("slick.ttf") format("truetype"), url("slick.svg#slick") format("svg"); font-weight: normal; font-style: normal; }
.slick-prev:before { content: "\2190"; }
.slick-next:before { content: "\2192"; }
.slick-prev, .slick-next { position: absolute; display: block; line-height: 0; font-size: 0; cursor: pointer; background: transparent; color: transparent; top: 50%; padding: 0; border: none; outline: none; }
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus { outline: none; background: transparent; color: transparent; }
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before { opacity: 1; }
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { opacity: 0.25; }
.slick-prev:before, .slick-next:before { font-family: "slick"; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slick-dots { position: absolute; list-style: none; display: block; text-align: center; padding: 0; width: 100%; }
.slick-dots li { position: relative; display: inline-block; padding: 0; cursor: pointer; }
.slick-dots li button:hover, .slick-dots li button:focus { outline: none; }
.slick-dots li button:hover:before, .slick-dots li button:focus:before { opacity: 1; }
.slick-dots li button { border: 0; background: transparent; display: block; outline: none; line-height: 0; font-size: 0; color: transparent; padding: 5px; cursor: pointer; }
.slick-dots li button:before { position: absolute; top: 0; left: 0; content: "\2022"; font-family: "slick"; text-align: center; color: black; opacity: 0.25; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
[dir="rtl"] .slick-slide {float: right;}
[dir="rtl"] .slick-next:before {content: "\2190";}
[dir="rtl"] .slick-prev:before {content: "\2192";}

#body{background-color:rgb(255,255,255);}
.vis{display:inline-block;vertical-align:top;}
.pos{position:relative;margin-top:0;}
.size{width:100%;min-width:1200px;min-height:113px;}
.cont{z-index:1;pointer-events:none;border:0;background-color:rgb(255,255,255);box-shadow:1px 1px 0 rgba(0,0,0,0.201074);}
.pos-2{position:relative;margin-top:10px;}
.vis-2{display:block;}
.section{min-width:1200px;width:1200px;margin-left:auto;margin-right:auto;}
.pos-3{position:relative;margin-left:27px;margin-top:0;}
.size-2{min-width:1133px;width:1133px;min-height:99px;}
.pos-4{position:relative;margin-left:0;margin-top:17px;}
.size-3{min-width:60px;width:60px;min-height:60px;height:60px;}
.cont-3{z-index:3;pointer-events:auto;}
.img{position:absolute;left:0;width:60px;height:60px;top:0;}
.pos-5{position:relative;margin-left:12px;margin-top:0;}
.size-4{min-width:347px;width:347px;min-height:99px;}
.colwrapper{line-height:0;}
.pos-6{position:relative;margin-left:0;margin-top:0;}
.size-5{min-width:347px;width:347px;min-height:71px;}
.cont-4{z-index:2;pointer-events:auto;}
.para{padding-top:0;text-indent:0;margin-top:5.39pt;margin-bottom:-5.39pt;padding-right:0;text-align:left;}
.font{font-family:Jura;font-size:26.25pt;font-weight:600;font-style:normal;text-decoration:none;color:rgb(0,0,0);line-height:37.72pt;letter-spacing:normal;}
.pos-7{position:relative;margin-left:2px;margin-top:-22px;}
.size-6{min-width:235px;width:235px;min-height:50px;}
.cont-5{z-index:4;pointer-events:auto;}
.para-2{padding-top:0;text-indent:0;margin-top:2.92pt;margin-bottom:-2.92pt;padding-right:0;text-align:left;}
.font-2{font-family:Verdana, Geneva, sans-serif;font-size:12.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(0,0,0);line-height:20.42pt;letter-spacing:normal;}
.pos-8{position:relative;margin-left:569px;margin-top:17px;}
.size-7{min-width:145px;width:145px;min-height:60px;height:60px;}
.cont-6{z-index:5;pointer-events:auto;}
.anchor{display:block;width:145px;}
.img-2{position:absolute;left:0;width:145px;height:49px;top:5px;}
.pos-9{position:relative;margin-top:0;}
.section-2{pointer-events:none;min-width:1200px;width:1200px;margin-left:auto;margin-right:auto;}
.size-8{min-width:1200px;width:1200px;min-height:849px;}
.cont-7{z-index:6;pointer-events:auto;}
.js .slider{height:814px;}
.js .slick-prev, .js .slick-next { height: 20px; width: 20px; margin-top: -10px; }
.js .slick-prev:before, .js .slick-next:before { font-size: 20px; color: rgb(64,64,64); opacity: 0.75; }
.js .slick-prev { left: -25px; }
.js .slick-next { right: -25px; }
.js .slider-for { margin-bottom: 0px; }
.js .slider-nav { margin-bottom: 0px; }
.js .slider-nav img { border: solid 0px transparent; }
.js .slider-nav .slick-center img { border-color: transparent; }
.js .slick-dots { bottom: -35px; }
.js .slick-dots li { height: 20px; width: 20px; margin: 0 5px; }
.js .slick-dots li button { height: 20px; width: 20px; }
.js .slick-dots li button:before { width: 20px; height: 20px; font-size: 6px; line-height: 20px; }
.js .slick-dots li.slick-active button:before { color: rgb(64,64,64); opacity: 0.75; }
[dir="rtl"] .js .slick-next {right: auto;left: -25px;}
[dir="rtl"] .js .slick-prev {right: -25px;left: auto;}
.slider img { width: 100%; }
.js .slick-list{height:814px;}
@media (min-width:960px) and (max-width:1199px) {
.size{min-width:960px;min-height:121px;}
.pos-2{margin-top:12px;}
.section{min-width:960px;width:960px;}
.pos-3{margin-left:25px;}
.size-2{min-width:908px;width:908px;min-height:92px;}
.pos-4{margin-top:16px;}
.pos-5{margin-left:11px;}
.size-4{min-width:277px;width:277px;min-height:92px;}
.size-5{min-width:277px;width:277px;min-height:57px;}
.pos-7{margin-left:0;margin-top:-5px;}
.size-6{min-width:188px;width:188px;min-height:40px;}
.para-2{margin-top:2.37pt;margin-bottom:-2.37pt;}
.font-2{font-size:9.75pt;line-height:16.59pt;}
.pos-8{margin-left:415px;margin-top:16px;}
.section-2{min-width:960px;width:960px;}
.size-8{min-width:960px;width:960px;min-height:679px;}
.js .slider{height:644px;}
}
@media (min-width:768px) and (max-width:959px) {
.size{min-width:768px;min-height:97px;}
.pos-2{margin-top:6px;}
.section{min-width:768px;width:768px;}
.pos-3{margin-left:32px;}
.size-2{min-width:694px;width:694px;min-height:74px;}
.pos-4{margin-top:16px;}
.size-3{min-width:48px;width:48px;min-height:48px;height:48px;}
.img{width:48px;height:48px;}
.pos-5{margin-left:10px;}
.size-4{min-width:222px;width:222px;min-height:74px;}
.size-5{min-width:222px;width:222px;min-height:46px;}
.para{margin-top:4.31pt;margin-bottom:-4.31pt;}
.font{font-size:21.00pt;line-height:30.18pt;}
.pos-7{margin-left:3px;margin-top:-4px;}
.size-6{min-width:150px;width:150px;min-height:32px;}
.para-2{margin-top:2.01pt;margin-bottom:-2.01pt;}
.font-2{font-size:8.25pt;line-height:14.04pt;}
.pos-8{margin-left:298px;margin-top:16px;}
.size-7{min-width:116px;width:116px;min-height:48px;height:48px;}
.anchor{width:116px;}
.img-2{width:116px;height:39px;top:4px;}
.section-2{min-width:768px;width:768px;}
.size-8{min-width:768px;width:768px;min-height:543px;}
.js .slider{height:508px;}
}
@media (min-width:480px) and (max-width:767px) {
.pos{margin-top:8px;}
.size{min-width:480px;min-height:70px;}
.pos-2{margin-top:6px;}
.section{min-width:480px;width:480px;}
.pos-3{margin-left:10px;}
.size-2{min-width:458px;width:458px;min-height:58px;}
.pos-4{margin-top:6px;}
.size-3{min-width:45px;width:45px;min-height:45px;height:45px;}
.img{width:45px;height:45px;}
.pos-5{margin-left:5px;}
.size-4{min-width:208px;width:208px;min-height:58px;}
.size-5{min-width:144px;width:144px;min-height:30px;}
.para{margin-top:3.08pt;margin-bottom:-3.08pt;}
.font{font-size:15.00pt;line-height:21.55pt;}
.pos-7{margin-left:0;margin-top:-4px;}
.size-6{min-width:208px;width:208px;min-height:32px;}
.para-2{margin-top:2.55pt;margin-bottom:-2.55pt;}
.font-2{font-size:10.50pt;line-height:17.87pt;}
.pos-8{margin-left:105px;margin-top:9px;}
.size-7{min-width:95px;width:95px;min-height:40px;height:40px;}
.anchor{width:95px;}
.img-2{width:95px;height:32px;top:4px;}
.section-2{min-width:480px;width:480px;}
.size-8{min-width:480px;width:480px;min-height:341px;}
.js .slider{height:306px;}
}
@media (max-width:479px) {
.pos{margin-top:5px;}
.size{min-width:320px;min-height:70px;}
.pos-2{margin-top:8px;}
.section{min-width:320px;width:320px;}
.pos-3{margin-left:3px;}
.size-2{min-width:312px;width:312px;min-height:59px;}
.pos-4{margin-top:4px;}
.size-3{min-width:45px;width:45px;min-height:45px;height:45px;}
.img{width:45px;height:45px;}
.pos-5{margin-left:6px;}
.size-4{min-width:197px;width:197px;min-height:59px;}
.size-5{min-width:153px;width:153px;min-height:35px;}
.para{margin-top:3.08pt;margin-bottom:-3.08pt;}
.font{font-size:15.00pt;line-height:21.55pt;}
.pos-7{margin-left:0;margin-top:-11px;}
.size-6{min-width:197px;width:197px;min-height:35px;}
.para-2{margin-top:2.37pt;margin-bottom:-2.37pt;}
.font-2{font-size:9.75pt;line-height:16.59pt;}
.pos-8{margin-left:216px;margin-top:-52px;}
.size-7{min-width:96px;width:96px;min-height:40px;height:40px;}
.anchor{width:96px;}
.img-2{width:96px;height:32px;top:4px;}
.section-2{min-width:320px;width:320px;}
.size-8{min-width:320px;width:320px;min-height:227px;}
.js .slider{height:192px;}
}
